In [1]:
import pandas as pd , numpy as np
import os

In [2]:
def List_Tables_Os_Walk(MainDir="",TargetFile="",FileType = ".parquet",Ignore_name="",Duplicate=False):
    if Duplicate:
        Table_Dir = []
        for FolderName, Subfolders, Filenames in os.walk(MainDir):
            # print("The current folder is: " + FolderName)
            for Filename in Filenames:
                if Filename.endswith(FileType) and Filename.startswith(TargetFile) and Ignore_name not in Filename:
                    Table_Dir.append(os.path.join(FolderName, Filename))
                    # print(os.path.join(FolderName, Filename).split("\\")[-1])
        return Table_Dir
    else:
        Table_Dir = set()
        for FolderName, Subfolders, Filenames in os.walk(MainDir):
            # print("The current folder is: " + FolderName)
            for Filename in Filenames:
                if Filename.endswith(FileType) and Filename.startswith(TargetFile):
                    Table_Dir.add(os.path.join(FolderName, Filename))
                    # print(os.path.join(FolderName, Filename).split("\\")[-1])
        return list(Table_Dir)

In [ ]:
MainDir = r"D:\work\Daneshkar\DataScience\Project\Tennis Schema\Tennis Schema\tennis_data"
Table_Dir = List_Tables_Os_Walk(MainDir,TargetFile="pbp_",Ignore_name="",FileType = ".parquet",Duplicate=False)
df_all = pd.DataFrame()
print(len(Table_Dir))
i = 0
for Dir in Table_Dir:
    df = pd.read_parquet(Dir)
    date = Dir.split("\\")[-5]
    df['data_date'] = pd.to_datetime(date, format="%Y%m%d")
    print(df.columns)
    df_all = pd.concat([df_all, df], ignore_index=True)
    i += 1
    print(len(Table_Dir), i)
print(df_all.shape)
Csv_Path = r"D:\work\Daneshkar\DataScience\Project\Data_Csv\pbp_table_combined.csv"
df_all.to_csv(Csv_Path, index=False)

In [3]:
MainDir = r"D:\work\Daneshkar\DataScience\Project\Tennis Schema\Tennis Schema\tennis_data"

In [4]:
Dir = r"D:\work\Daneshkar\DataScience\Project\Tennis Schema\Tennis Schema\tennis_data\20240201\data\raw\raw_match_parquet\away_team_11998445.parquet"
df = pd.read_parquet(Dir)
df.head()

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
0,11998445,Auger-Aliassime F.,auger-aliassime-felix,M,23318,"Monte Carlo, Monaco","Montreal, Canada",1.93,87,right-handed,2017,218538,10166964,192013,30,AUG,Canada,"Auger-Aliassime, Felix"

In [5]:
Dir = r"D:\work\Daneshkar\DataScience\Project\Tennis Schema\Tennis Schema\tennis_data\20240201\data\raw\raw_match_parquet\away_team_score_12018083.parquet"
df = pd.read_parquet(Dir)
df.head()

,match_id,current_score,display_score,period_1,period_2,period_3,period_4,period_5,period_1_tie_break,period_2_tie_break,period_3_tie_break,period_4_tie_break,period_5_tie_break,normal_time
0,12018083,2,2,6,6,None,None,None,None,None,None,None,None,None